.tv {
    margin-bottom: 20px;
}

.tv-poster {
    width: 100%;
    height: auto;
}

.tv-title {
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
}

.tv-overview {
    color: white;
    font-size: 0.9em;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #343a40;
    color: white;
}

.tv-poster:hover {
    cursor: pointer;
}

p{
    color: white;
    font-size: 0.9em;
}