#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}
#loading-screen img {
    width: 150px;
    margin-bottom: 20px;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-out {
    animation: fadeOut 1s forwards;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* bejelentkezes/regisztaracio felulet */

.modal-header{
    color: var(--text-color); 
    background-color: var(--bejreg-color);
}

.modal-body{
    color: var(--text-color); 
    background-color: var(--bejreg-color);
}

/* Főoldallogó, animáció */
#fooldallogo{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative; 
}

.card{
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: var(--text-color);
    text-align: center;
    border-radius: 10px;
    position: relative;
}
@property --szog{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before{
    content: '';
    position: absolute;
    height: 110%;
    width: 103%;
    background-image: conic-gradient(from var(--szog), purple, cyan, rgb(0, 81, 255),purple);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
    z-index: 1;
}
@keyframes spin {
    from{
        --szog: 0deg;
    }
    to{
        --szog: 360deg;
    }
}
body{
    background-blend-mode: multiply;
}

/* Mottó animáció */

body{
    min-height: 100vh;
    background: #0000;
    background-blend-mode: multiply;
    background-color: black;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 49.5%;
    color: white;
    padding: 2rem;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    margin-right: 10px;
    text-align: center;
}
.wrapper p {
    width: 55%;
    margin: 1rem 0;
    font-weight: 300;
}
.wrapper .content{
    font: lighter 3rem "poppins", sans-serif;
}
.wrapper .content ol {
    list-style: none;
    --height: 3.8rem;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden; 
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
}
.wrapper .content ol li{
  animation: slideup 12s infinite;
}
@keyframes slideup{
    0%,20%{
        transform: translateY(0%);
    }
    25%,45%{
        transform: translateY(-100%);
    }
    50%,70%{
        transform: translateY(-200%);
    }
    75%,100%{
        transform: translateY(-300%);
    }
 }
.wrapper .content ol li span{
   font-weight: 600;
   -webkit-text-fill-color: transparent;
   background: linear-gradient(20deg, cyan, magenta);
   -webkit-background-clip: text;
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}
@keyframes typing{
    0%,10%{
        width: 0%;
    }
    70%,100%{
        width: 101%;
    }
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --filsor-color: white;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --bejreg-color: #ffffff;
}


.darkmode{
    --base-color: #1c1f2b;
    --base-variant: #101425;
    --text-color: #ffffff;
    --filsor-color: #111528;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --bejreg-color: #111528;
}


body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.nav-link {
    color: white;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}
#loading-screen img {
    width: 150px;
    margin-bottom: 20px;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

.movie {
    margin-bottom: 20px;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-title {
    color: var(--text-color);
    font-size: 1.2em;
    margin-top: 10px;
}

.movie-overview {
    color: var(--text-color);
    font-size: 0.9em;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #343a40;
    color: var(--text-color);
}

.movie-poster:hover {
    cursor: pointer;
}

p {
    color: var(--text-color);
    font-size: 0.9em;
}

.list-group{ 
    /* lista forma */
    text-align: center;
    font-weight: bold;
}


.categories2 {
    /* kategoriak */
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: 3px solid var(--text-color);
    border-radius: 50px;
    padding: 20px;
    background-color: var(--base-variant);
}
.category2 {
    padding: 10px 15px;
    background-color: var(--secondary-text);
    color: var(--filsor-color);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}
.category2:hover {
    background: gray;
    color: white;
}

.kategoriaszoveg {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.text-left {
    text-align: left;
}
.custom-height-header {
    height: 200px;
    display: flex;
    align-items: start;
}
.custom-height-footer {
    height: 600px;
    display: flex;
    align-items: start;
}
.members-profilepicture {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden; 
}
.members-profilepicture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.members-profilepicture-comment{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #e0e0e0;
}
.ms-3 {
    margin-left: 1rem;
}

.keresomezo {
    /* Keresés mező */
    background-color: var(--bejreg-color);
    padding: 5px;
    border-radius: 10px;
    color: var(--text-color); 
    /* text-align: center; */
}

.nav-link {
    color: white;
}
.nav-link.hover{
    color: var(--text-color);
}
.nav-link.active {
    color: black !important;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.tv {
    margin-bottom: 20px;
}

.tv-poster {
    width: 100%;
    height: auto;
}

.tv-title {
    color: var(--text-color);
    font-size: 1.2em;
    margin-top: 10px;
}

.tv-overview {
    color: var(--text-color);
    font-size: 0.9em;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #343a40;
    color: var(--text-color);
    
}

.tv-poster:hover {
    cursor: pointer;
}

p{
    color: var(--text-color);
    font-size: 0.9em;
}

.list-group{ 
    /* lista forma */
    text-align: center;
    font-weight: bold;

}


.col-md-9 {
    /* api */
    height: auto;
    background-color: var(--base-variant);
    color: var(--text-color);
    font-weight: bold;
    border: 3px solid var(--text-color);
    border-radius: 50px;
    padding: 25px;
    margin-top: 0;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* index hatteranimacio */ 

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; 
}

.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
    z-index: -2; 
}

a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}


/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* navbar menu */

.navbar {
    z-index: 3; 
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center; 
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.navbar-nav .nav-link {
    color: var(--text-color) !important;
    font-weight: bold;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    background-image: none !important;
    color: var(--text-color) !important;
}

#bio{
    color: white;
}

.nav-item {
    padding: 25px;
    margin-left: 180px;
    font-size: 18px;
    font-family: sans-serif;
}


/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */


/* filmek/sorozat hatteranimacio */

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(47, 32, 247) 50%, rgb(216, 209, 209) 50%);
    bottom:0;
    left:-50%;
    opacity:0.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .darkmode .bg {
    background-image: linear-gradient(-60deg, rgb(1, 22, 78) 50%, rgb(128, 126, 126) 50%);
}
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:9s;
  }
  
  .bg3 {
    animation-duration:14s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

