.text-left {
    text-align: left;
}

.custom-height-header {
    height: 200px;
    display: flex;
    align-items: start;
}

.custom-height-footer {
    height: 600px;
    display: flex;
    align-items: start;
}

.members-profilepicture {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden; /* Biztosítja, hogy a kép ne lógjon ki a div-ből */
}

.members-profilepicture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Biztosítja, hogy a kép kitöltse a div-et, megtartva az arányokat */
}

.members-profilepicture-comment{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #e0e0e0;
}

.ms-3 {
    margin-left: 1rem;
}

.nav-link {
    color: white;
}

.nav-link.hover{
    color: white;
}

.nav-link.active {
    color: black !important;
}
