/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
 /* Bakos Bence  Dózsa Dávid  Breznyánszky Dávid */

                /* WATCH.IT */
                  /* CSS */
            /* 2025 VIZSGAREMEK */

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */                  

/* oldal betoltes animacio */

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}
#loading-screen img {
    width: 150px;
    margin-bottom: 20px;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-out {
    animation: fadeOut 1s forwards;
}

.dropdown-item:hover {
    background-color: transparent !important;
}


/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* bejelentkezes/regisztracio felulet */

.modal-header{
    color: var(--text-color); 
    background-color: var(--bejreg-color);
}

.modal-body{
    color: var(--text-color); 
    background-color: var(--bejreg-color);
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

 /* Főoldallogó, animáció  */

#fooldallogo {
    margin: auto;
    margin-top: 250px;
    padding: 35px;
}

.card {
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: var(--text-color);
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 5; 
}

@property --szog {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 103%;
    background-image: conic-gradient(from var(--szog), purple, cyan, rgb(0, 81, 255), purple);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 10px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
    opacity: 0.4;
    z-index: -1; 
}

.card::before {
    filter: blur(1.5rem);
    opacity: 0.1;
}

@keyframes spin {
    from {
        --szog: 0deg;
    }
    to {
        --szog: 360deg;
    }
}

body{
    background-blend-mode: multiply;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* lefele nyilacska */

body {
    background:#0b1d2a;
}

.arrows {
	width: 60px;
	height: 72px;
	position: relative;
	left: 50%;
	margin-left: -30px;
    margin-top: 150px;
	bottom: 20px;
    z-index: 10;
    cursor: pointer;
}

.arrows path {
	stroke: var(--text-color);
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --filsor-color: white;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --bejreg-color: #ffffff;
    --comment-color: #ffffff;
    --indexsvg-color: #e3e3ff;
    --brezyhover-color: #bababa;
}


.darkmode{
    --base-color: #1c1f2b;
    --base-variant: #101425;
    --text-color: #ffffff;
    --filsor-color: #111528;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --bejreg-color: #111528;
    --comment-color: rgb(27, 28, 51);
    --indexsvg-color: #2d2d4a;
    --brezyhover-color: #3d3d65;
}


body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}
#loading-screen img {
    width: 150px;
    margin-bottom: 20px;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

.movie {
  margin-bottom: 20px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}
.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  align-items: start;
  margin: 20px auto;
  max-width: 1200px; 
  padding: 0 15px; 
}
.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-poster-small{
  width: 100%;
    height: auto;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}
.tv-poster {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px; 
}

.tv-poster:hover {
    transform: scale(1.06); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    z-index: 10; 
}
.movie-poster:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.movie-title{
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 
}
.movie-overview {
    color: var(--text-color);
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.4;
    margin: 0;
}

.limited-overview{
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10; 
    line-clamp: 10; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #343a40;
    color: var(--text-color);
}

.movie-poster:hover {
    cursor: pointer;
}

p {
    color: var(--text-color);
    font-size: 0.9em;
}

/* Reszponzív beállítások 1024 pixel alatti kijelzőkhöz */
@media (max-width: 1024px) {
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  .movie-container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 15px;
      padding: 0 10px;
  }

  .movie-poster {
      width: 90%;
      height: auto;
      margin: 0 auto;
  }

  .movie-title {
      font-size: 0.9em;
      margin-top: 5px;
      margin-bottom: 3px;
  }

  .movie-overview {
      font-size: 0.8em;
      line-height: 1.2;
  }

  .pagination {
      flex-wrap: wrap;
      gap: 5px;
  }

  .pagination .page-item .page-link {
      padding: 0.5rem 0.8rem;
      font-size: 0.8em;
  }

  .categories2 {
      width: calc(100% - 10px);
      margin: 0 auto;
      padding: 10px;
      border: 3px solid var(--text-color);
      border-radius: 10px;
      background-color: var(--base-variant);
  }

  .category2 {
      width: 100%;
      font-size: 0.8em;
      padding: 10px;
      text-align: center;
  }
}

/* Reszponzív beállítások 768 pixel alatti kijelzőkhöz */
@media (max-width: 768px) {
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  .movie-container {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 10px;
      padding: 0 10px;
  }

  .movie-poster {
      width: 90%;
      height: auto;
      margin: 0 auto;
  }

  .movie-title {
      font-size: 0.8em;
      margin-top: 5px;
      margin-bottom: 3px;
  }

  .movie-overview {
      font-size: 0.7em;
      line-height: 1.2;
  }

  .pagination {
      flex-wrap: wrap;
      gap: 5px;
  }

  .pagination .page-item .page-link {
      padding: 0.5rem 0.8rem;
      font-size: 0.8em;
  }

  .categories2 {
      width: calc(100% - 10px);
      margin: 0 auto;
      padding: 10px;
      border: 3px solid var(--text-color);
      border-radius: 10px;
      background-color: var(--base-variant);
  }

  .category2 {
      width: 100%;
      font-size: 0.8em;
      padding: 10px;
      text-align: center;
  }
}

/* Reszponzív beállítások 550 pixel alatti kijelzőkhöz */
@media (max-width: 550px) {
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  .movie-container {
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 0 10px;
  }

  .movie-poster {
      width: 90%;
      height: auto;
      margin: 0 auto;
  }

  .movie-title {
      font-size: 0.7em;
      margin-top: 5px;
      margin-bottom: 3px;
  }

  .movie-overview {
      font-size: 0.6em;
      line-height: 1.2;
  }

  .pagination {
      flex-wrap: wrap;
      gap: 5px;
  }

  .pagination .page-item .page-link {
      padding: 0.5rem 0.8rem;
      font-size: 0.8em;
  }

  .categories2 {
      width: calc(100% - 10px);
      margin: 0 auto;
      padding: 10px;
      border: 3px solid var(--text-color);
      border-radius: 10px;
      background-color: var(--base-variant);
  }

  .category2 {
      width: 100%;
      font-size: 0.8em;
      padding: 10px;
      text-align: center;
  }
}
/* Reszponzív beállítások 400 pixel alatti kijelzőkhöz */
@media (max-width: 400px) {
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden; 
  }

  .movie-container {
      grid-template-columns: 1fr; 
      gap: 10px; 
      padding: 0 5px; 
  }

  .movie-poster {
      width: 100%; 
      height: auto;
      margin: 0 auto; 
  }

  .movie-title {
      font-size: 0.5em;
      margin-top: 5px;
      margin-bottom: 3px;
  }

  .movie-overview {
      font-size: 0.4em; 
      line-height: 1.1; 
  }

  .pagination {
      flex-wrap: wrap; 
      gap: 5px;
  }

  .pagination .page-item .page-link {
      padding: 0.5rem 0.8rem; 
      font-size: 0.8em;
  }

  .categories2 {
    width: calc(100% - 10px); 
    margin: 0 auto; 
    padding: 10px;
    border: 3px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--base-variant);
}

.category2 {
    width: 100%; 
    font-size: 0.8em; 
    padding: 10px;
    text-align: center;
}
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */      

/* lista/kategoriak */

.list-group{ 
    text-align: center;
    font-weight: bold;
}

.categories2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: 3px solid var(--text-color);
    border-radius: 50px;
    padding: 20px;
    background-color: var(--base-variant);
}
.category2 {
    padding: 10px 15px;
    background-color: var(--secondary-text);
    color: var(--filsor-color);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold; 
    transition: background 0.3s;
    width: 100%;
}
.category2:hover {
    background: gray;
    color: white;
}

.category2:active {
    background-color: #333333;
    color: white;
}

.category2.active {
    background-color: #333333;
    color: white;
}

.kategoriaszoveg {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.latest-movies-title{
    position: relative; 
    z-index: 10; 
    color: var(--text-color); 
    text-align: center; 
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* ??????????????????????????????????????????????????????????????? */

.text-left {
    text-align: left;
}
.custom-height-header {
    height: 200px;
    display: flex;
    align-items: start;
}
.custom-height-footer {
    height: 600px;
    display: flex;
    align-items: start;
}
.members-profilepicture {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden; 
}
.members-profilepicture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.members-profilepicture-comment{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #e0e0e0;
}
.ms-3 {
    margin-left: 1rem;
}

.keresomezo {
    background-color: var(--bejreg-color);
    padding: 5px;
    border-radius: 10px;
    color: var(--text-color); 
    text-align: center; 
}

.nav-link {
    color: white;
}
.nav-link.hover{
    color: var(--text-color);
}
.nav-link.active {
    color: black !important;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* film/sorozat kategoria es poszterek */

.tv {
    margin-bottom: 20px;
}

.tv-poster {
    width: 100%;
    height: auto;
}

.tv-title {
  font-size: 1.2em;
  margin-top: 8px;
  height: 3em; 
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}
.tv-overview {
    color: var(--text-color);
    font-size: 0.9em;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #343a40;
    color: var(--text-color);
    
}

.tv-poster:hover {
    cursor: pointer;
}

p{
    color: var(--text-color);
    font-size: 0.9em;
}

.list-group{ 
    text-align: center;
    font-weight: bold;

}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* api filmek es sorozat lista */

.col-md-9 {
    height: 100%;
    background-color: var(--base-variant);
    color: var(--text-color);
    font-weight: bold;
    border: 3px solid var(--text-color);
    border-radius: 50px;
    padding: 25px;
    margin-top: 0;
}

.col-md-9-filmsor {
    height: 100%;
    background-color: var(--base-variant);
    color: var(--text-color);
    font-weight: bold;
    border: 3px solid var(--text-color);
    border-radius: 50px;
    padding: 25px;
    margin-top: 0;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* index.html hatteranimacio */ 

svg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
}

@media (max-width: 768px) {
    svg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1; 
    }
}

body {
    min-height: 100vh; 
    width: 100%; 
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}


.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
    z-index: -2; 
}

a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 100s linear infinite;
    transform-origin: 13px 25px;
}

.in-top {
    animation: rotate 50s linear infinite;
    transform-origin: 13px 25px;
}

.out-bottom {
    animation: rotate 100s linear infinite;
    transform-origin: 84px 93px;
}

.in-bottom {
    animation: rotate 40s linear infinite;
    transform-origin: 84px 93px;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* navbar menu */

.navbar {
    z-index: 3; 
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-nav {
    justify-content: center; 
    width: 100%; 
}

.navbar .dropdown-toggle::after {
    display: none; 
}


.navbar-nav .nav-link {
    color: var(--text-color) !important;
    font-weight: lighter;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#bio{
    color: white;
}

.nav-item {
    font-size: 18px;
    font-family: sans-serif;
    margin-right: 100px;
}

.navbar-nav.mx-auto {
    justify-content: center !important;
    width: auto; 
}

.container-fluid {
    width: 100%; 
}

.navbar-nav:first-child {
    margin-right: auto; 
}

.navbar-nav:last-child {
    margin-left: auto; 
}

.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: var(--text-color); 
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: var(--text-color); 
    transition: width 0.3s ease; 
}

.navbar-nav .nav-link:hover::after {
    width: 100%; 
}

.navbar-toggler {
    padding: 10px; 
    border: none; 
    outline: none !important; 
    box-shadow: none !important;
    background-color: transparent; 
}

.navbar-toggler-icon {
    width: 30px; 
    height: 3px; 
    background-color: var(--text-color); 
    display: block;
    position: relative;
    border-radius: 2px; 
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--text-color); 
    border-radius: 2px;
}

.navbar-toggler-icon::before {
    top: -8px; 
}

.navbar-toggler-icon::after {
    top: 8px; 
}

.navbar-brand{
    color: var(--text-color);
}

.navbar-brand:hover{
    color: var(--bejreg-color);
}

/* Fekete-fehér switch pozicionálása */

.toggle-switch {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    width: 100px; 
    height: 50px; 
    margin-left: 20px;
}

/* fekete fehér switch*/

.toggle-switch {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }

  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }

  .checkbox {
    position: absolute;
    display: none;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* fekete fehér switch*/

.toggle-switch {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* filmek/sorozat hatteranimacio */

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(47, 32, 247) 50%, rgb(216, 209, 209) 50%);
    bottom:0;
    left:-50%;
    opacity:0.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .darkmode .bg {
    background-image: linear-gradient(-60deg, rgb(1, 22, 78) 50%, rgb(128, 126, 126) 50%);
}
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:9s;
  }
  
  .bg3 {
    animation-duration:14s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/* ---------------------------------------- */

.custom-list-group-item-card img{
    width: 20%;
    height: auto;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}

.custom-list-group-item-card .title{
    font-weight: bold;
    color: var(--text-color);
}

.custom-list-group-item-withcard {
    background-color: #34495e; 
    color: #ecf0f1;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    min-height: 90px;
}

.custom-list-group-item-withcard:hover {
    background-color: #3e5c76; 
    cursor: pointer;
}



/* ---------------------------------------- */
/* ---------------------------------------- */

/* filmek/sorozatok poszterkep animacio */

.poszterkep {
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    transform-origin: center center;
    border-radius: 20px;
}

.poszterkep:hover {
    transform: translateZ(0) scale(1.01) translateY(0);
    z-index: 10;
}

.carousel-item:hover .poszterkep:not(:hover) {
    filter: blur(3px) brightness(0.7);
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* youtube trailer */

.trailer iframe {
    width: 100%; 
    height: auto; 
    aspect-ratio: 16 / 9; 
    max-width: 100%; 
    border: none; 
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* kommentek */

#comments-section {
    height: 400px;
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

#comments-section::-webkit-scrollbar {
    display: none; 
}

.custom-comment-card {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--comment-color);
    width: 100%;
    max-width: 900px;
}

.custom-comment-card-body {
    padding: 0.5rem;
}

.custom-comment-card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.custom-comment-card-text {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

#review-summary{
    pointer-events: none;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* értékelés */

.rating {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
    justify-content: center;
    gap: 5px;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: var(--primary-color);
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }

 /* ---------------------------------------- */
 /* ---------------------------------------- */
 /* ---------------------------------------- */

  /* ajánlás */

  .tgl-btn {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 8em; 
    height: 1.5em; 
    font-size: 0.8em;
    padding: 1px;
}
  .checkbox-wrapper-10 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .checkbox-wrapper-10 {
    display: flex;
    align-items: center;
}

.checkbox-wrapper-10 {
    display: flex;
    align-items: center;
}

.checkbox-wrapper-10 .tgl {
    display: none;
  }
  
  .checkbox-wrapper-10 .tgl,
    .checkbox-wrapper-10 .tgl:after,
    .checkbox-wrapper-10 .tgl:before,
    .checkbox-wrapper-10 .tgl *,
    .checkbox-wrapper-10 .tgl *:after,
    .checkbox-wrapper-10 .tgl *:before,
    .checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  
  .checkbox-wrapper-10 .tgl::-moz-selection,
    .checkbox-wrapper-10 .tgl:after::-moz-selection,
    .checkbox-wrapper-10 .tgl:before::-moz-selection,
    .checkbox-wrapper-10 .tgl *::-moz-selection,
    .checkbox-wrapper-10 .tgl *:after::-moz-selection,
    .checkbox-wrapper-10 .tgl *:before::-moz-selection,
    .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
    .checkbox-wrapper-10 .tgl::selection,
    .checkbox-wrapper-10 .tgl:after::selection,
    .checkbox-wrapper-10 .tgl:before::selection,
    .checkbox-wrapper-10 .tgl *::selection,
    .checkbox-wrapper-10 .tgl *:after::selection,
    .checkbox-wrapper-10 .tgl *:before::selection,
    .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 12em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn:after,
    .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
  }
  
  .checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    transform: rotateY(-180deg);
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: #FF3A19;
    content: attr(data-tg-off);
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
  }
  
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
  }
  
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #7FC6A6;
  }
  
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
  }

  #notrecommended{
    background: #FF3A19;
  }
  
 /* ---------------------------------------- */
 /* ---------------------------------------- */
 /* ---------------------------------------- */

  /* vélemény beírás */

#comment-form textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#comment-form button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

#comment-form button[type="submit"]:hover {
    background: var(--accent-color);
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* összesített vélemény */

#review-summary {
    display: flex;
    align-items: center;
}

#review-summary .checkbox-wrapper-10 {
    display: flex;
    align-items: center;
}

#review-summary .rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-direction: row-reverse;
}

#review-summary .rating input {
    margin: 0;
}

#review-summary .rating label {
    margin: 0;
}

.mt-5 {
    margin: 20px auto;
}


@media (min-width: 768px) {
    .mt-5 {
        margin: 40px auto;
    }
}


@media (max-width: 767px) {
    .mt-5 {
        margin: 10px auto;
    }
    .custom-list-group-item-card img {
        width: 10%;
    }
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* komment törlés */

.confirm-delete-btn {
    background-color: green; 
    color: white !important;
    border: none;  
}

.cancel-delete-btn {
    background-color: red; 
    color: white !important;
    border: none; 
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* lábléc */

.footer-basic {
    padding:40px 0;
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:26px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
  }
  
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    margin-bottom:0;
  }
  
/* brezys cucc */

.custom-top-section, .custom-latest-section {
    margin-top: 20px;
    background-color: var(--base-variant);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #ecf0f1; 
}

.custom-list-group-item {
    background-color: var(--secondary-text); 
    color: #ecf0f1;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.custom-list-group-item:hover {
    background-color: var(--text-color); 
    cursor: pointer;
}

.custom-list-group-item-withcard{
    background-color: var(--indexsvg-color);
}

.custom-list-group-item-withcard:hover{
    background-color: var(--brezyhover-color);
}


/* telefon optimalizáció */
@media (max-width: 550px) {

    .rating {
        gap: 3px; 
    }

    .rating label {
        font-size: 20px; 
    }

    #comment-form button[type="submit"] {
        width: 100%; 
        padding: 8px; 
        font-size: 14px; 
    }

    #comment-form {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }

    #comment-form textarea {
        width: 100%; 
        height: 80px; 
        font-size: 14px; 
        margin: 0 auto; 
    }

    .form-group {
        flex-direction: column; 
        gap: 10px; 
    }

    .comment-header {
        flex-direction: column; 
        gap: 10px; 
    }

    #review-summary {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        gap: 20px;
        padding: 20px;
    }

    #review-summary .checkbox-wrapper-10 {
        order: 1; 
    }
    
}

/* vissza gomb */

.button {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button:before,
  .button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button:hover:before,
  .button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button:hover:after,
  .button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
  }
  
  .button:hover .button-box,
  .button:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }

  /* pagination */

  :root {
    --primary: white;
    --greyLight: grey;
    --greyLight-2: #cbe0dd;
    --greyDark: #2d4848;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #tv-container ul {
    list-style-type: none;
  }
  
  .items-list {
    max-width: 90vw;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
  }
  
  .item {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--greyDark);
    cursor: pointer;
  }
  
  .item span {
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease;
  }
  
  .item:hover span {
    transform: scale(1.2);
    color: var(--primary);
  }
  
  .item p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--greyLight);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
}
  
  .pagination .page-item {
    margin: 0 0.5rem;
  }
  
  .pagination .page-item .page-link {
    color: var(--greyDark);
    border: 1px solid var(--greyLight);
    border-radius: 0.4rem;
    padding: 0.8rem 1.2rem;
    transition: all 0.3s ease;
  }
  
  .pagination .page-item.active .page-link {
    background: grey;
    color: black;
    border-color: var(--primary);
  }
  
  .pagination .page-item .page-link:hover {
    background: var(--greyLight);
    color: var(--primary);
  }
  
  .pagination .page-item.disabled .page-link {
    color: var(--greyLight);
    pointer-events: none;
    background: #f8f9fa;
  }