.tv {
    margin-bottom: 20px;
}

.tv-poster {
    width: 100%;
    height: auto;
}

.tv-title {
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
}

.tv-overview {
    color: white;
    font-size: 0.9em;
}

.category-item {
    cursor: pointer;
}

.category-item:hover {
    background-color: #343a40;
    color: white;
    
}

.tv-poster:hover {
    cursor: pointer;
}

p{
    color: white;
    font-size: 0.9em;
}

.list-group{ 
    /* lista forma */
    text-align: center;
    font-weight: bold;

}

.form-control{ 
    /* Keresés */
    text-align: center;
    margin-left: 480px;
}

.col-md-9{ 

    /* api */
    height: auto;
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: white;
    font-weight: bold;
    border: 7px solid #f1f1f1;
    border-radius: 50px;
    padding: 20px;
    margin-top: 0; 

}